
<div class="shell">


  <div class="section">
<h2>AIR</h2>
<mat-card>
  <p class="Val">{{ air.gas }}</p>
  <p class="Key">GAS</p>
</mat-card>
<mat-card>
    <p class="Val">{{ air.fan }}</p>
    <p class="Key">FAN</p>
</mat-card>
<mat-card>
  <p class="Val">{{ air.hum }}</p>
  <p class="Key">HUMIDITY</p>
</mat-card>
<mat-card>
  <p class="Val">{{ air.temp }}</p>
  <p class="Key">Temperature</p>
</mat-card>
<mat-card>
    <p class="Val">{{ air.settemp }}</p>
    <p class="Key">Temperature Setpoint</p>
</mat-card>
  </div>
<div class="section">
  <h2>WATER</h2>
  <mat-card>
    <p class="Val">{{ water.EC }}</p>
    <p class="Key">EC</p>
  </mat-card>
  <mat-card>
    <p class="Val">{{ water.PH }}</p>
    <p class="Key">PH</p>
  </mat-card>
  <mat-card>
    <p class="Val">{{ water.flow }}</p>
    <p class="Key">WATER FLOW</p>
  </mat-card>
  <mat-card>
    <p class="Val">{{ water.pump }}</p>
    <p class="Key">PUMP</p>
  </mat-card>
  <mat-card>
    <p class="Val">{{ water.temp }}</p>
    <p class="Key">WATER TEMPERATURE</p>
  </mat-card>
    <mat-card>
      <p class="Val">{{water.settemp}}</p>
      <p class="Key">TEMPERATURE SETPOINT</p>
    </mat-card>
        <mat-card>
          <p class="Val">{{water.setflow}}</p>
          <p class="Key">WATER FLOW SETPOINT</p>
        </mat-card>
  </div>




  <div class="section">
    <h2>LIGHT</h2>
    <div class="group">
    <mat-card>
      <p class="Val">{{ light.lux }}</p>
      <p class="Key">LIGHT INTENSITY</p>
    </mat-card>
    <mat-card>
      <p class="Val">{{ light.setIO }}</p>
      <p class="Key">LIGHT SETPOINT</p>
    </mat-card>
    </div>

  </div>

</div>