.table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #F1EFEF;
  width: calc(100%/3);
  display: inline-block;
  margin:0;
  }
  .table  td, th {
  border-left: 1px solid #CFCACA;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5rem 1rem;
  }
  .table tr{
    border-bottom: 1px solid rgb(206, 204, 204);
    display: inline-block;
    width: 100%;
  }
  .table  thead {
  background-color: #02348A;
  color: #F3EDED;
  text-align: left;
  vertical-align: bottom;
  display: block;
  margin:0;
  }
.tab{
  display: flex;
  margin: 0 5%;

}
mat-toolbar{
  display: inline-block;
  margin: 10px 5% 0 5%;
  width: 90%;
  height: 50px;
}


mat-card{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0 15px 15px 0;
  vertical-align: bottom;
}

p{
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.Val{
  font-size: 50px;
  padding-top: 15px;
  line-height: 75px;
}
.Key{
  margin-top: 15px;
}

.shell{
  margin: 50px;
  display: inline-block;
}

.group{
  display: block;
  box-align: center;
}