
<div class="container-fluid">


  <h2>AIR</h2>
  <div class="col-md-1">
    <p >gas: {{ air.gas }}</p>
    <p>fan: {{ air.fan }}</p>
    <p>humidity: {{ air.hum }}</p>
    <p>temperature: {{ air.temp }}</p>
    <p>Temperature Setpoint: {{air.settemp}} </p>
  </div>

  <h2>WATER</h2>
  <div class="col-md-2">
    <p>EC: {{ water.EC }}</p>
    <p>PH: {{ water.PH }}</p>
    <p>Flow: {{ water.flow }}</p>
    <p>Pump: {{ water.pump }}</p>
    <p>Temperature: {{ water.temp }}</p>
    <p>Temperature Setpoint: {{water.settemp}}</p>
    <p>Flow Setpoint: {{water.setflow}}</p>
  </div>

    <h2>LIGHT</h2>
    <div class="col-md-3">
      <p>Light Intensity: {{ light.lux }}</p>
      <p>Light Setpoint: {{ light.setIO }}</p>

    </div>
</div>