<!-- <router-outlet></router-outlet> -->

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/Dashboard">Dashboard</button>
    <button color="primary" mat-button routerLink="/SensorMonitoring">Sensor Monitoring</button>
    <button color="primary" mat-button routerLink="/AboutUs">About us</button>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a href=""><span>SmartFarm</span></a>
        <span class="spacer"></span>
        <mat-icon>favorit</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
